

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
a {
    text-decoration: none;  /*Убирает подчеткивание в ссылок*/
}

.link {
    color: black;
  }
  
  .link:hover {
    color: teal;
  }

.header{
    width: 1600px;
    height: 81px;
    left: 0px;
    right: 0px;
}

.header-nav{
    padding-left: 215px;
    padding-top: 32px;
    float: left;
}

.logo-blu{
    color: blue;
}
.logo-black{
    color: black;
}

.header-nav-item{
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
}

.header-contacts{
    padding-right: 215px;
}

.header-contacts-item{
    padding-top: 32px;
    display: inline-block;
    float: right;
    color: silver;
}

.main{
    width: 1600px;
    height: 600px;
    padding-left: 0px;
    padding-top: 0px;
}

.features{
    width: 1570px;
    height: 251px;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 94px;
    float: left;
    text-align: center;
}

.features-1{
    background: #fff; 
    padding: 10px; 
    display: block; 
    width: 270px; 
    height: 251px; 
    float: left; 
    margin: 0 10px 10px 0; 
    text-align: center; 
}

.features-2{
    background: #fff; 
    padding: 10px; 
    display: block;
    width: 270px; 
    height: 251px; 
    float: left; 
    margin: 0 10px 10px 0; 
    text-align: center; 
}

.features-3{
    background: #fff; 
    padding: 10px; 
    display: block; 
    width: 270px; 
    height: 251px; 
    float: left; 
    margin: 0 10px 10px 0; 
    text-align: center; 
}
.features-4{
    background: #fff; 
    padding: 10px;
    display: block;
    width: 270px; 
    height: 251px; 
    float: left; 
    margin: 0 10px 10px 0;
    text-align: center; 
}

.tech-skills{
    width: 1550px;
    height: 386px;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 400px;   
}

.tech-skills-title{
    width: 806px;
    height: 42px;
    padding-left: 450px;
    line-height: 30px;
    margin-bottom: 45px;
    color: #212121;    
}

.our-team{
    position: absolute;
    border: 1px solid #000000;
    width: 1600px;
    height: 702px;
    left: 0px;
    top: 1563px;    
    background: #F5F4FA;
}

.team{
    width: 1570px;
    height: 422px;
    padding-left: 215px;
    padding-top: 106px;
}

.our-team-title{
    padding-left: 430px;
    padding-bottom: 50px;
}

.team-card-description{
    height: 162px;
    margin-top: -5px;
    background-color: #fff;
    text-align: center;
}

.team-card-description-name{
    padding-top: 30px;
}
.team-card-description-skills{
    padding-top: 10px;
}
.team-card-description-social{
    padding-top: 16px;
}


.team-card-1{
    width: 270px;
    height: 422px;
    left: 215px;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-card-2{
    height: 422px;
    left: 515px;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-card-3{
    height: 422px;
    left: 815px;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-card-4{
    height: 422px;
    left: 1115px;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.our-client{
    position: absolute;
    width: 1170px;
    height: 182px;
    left: 215px;
    top: 2289px;
}

.footer{
    position: absolute;
    width: 1600px;
    height: 253px;
    left: 0px;
    top: 2473px; 
    background: #2F303A;   
} 

.footer-container{
    padding-top: 48px;
    padding-left: 215px;
}

.footer-contacts{
    width: 231px;
    height: 181px;
    left: 215px;
    top: 2849px;
    float: left;
}

.add-social-network{
    width: 206px;
    height: 81px;
    padding-left: 89px;
    top: 2821px;
    float: left;
}

.add-social-network-title{
    color: #fff;
}

.subscription{
    width: 900px;
    height: 120px;
    padding-left: 94px;
    float: left;
}

.footer-year{
    width: 410px;
    height: 21px;
    margin-left: 646px;
    color: rgba(255, 255, 255, 0.4);
}


/* 
background: #fff; Цвет фона
padding: 10px; Поля вокруг
display: block; Блочный элемент
width: 270px; Ширина
height: 251px; Высота
float: left; Блоки выстраиваются по горизонтали
margin: 0 10px 10px 0; Отступы
text-align: center; Выравнивание по центру */